html, body {
    height: 100%;
    width: 100%;
    border-left: 0px;
    margin: 0;
}

.container{
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom: solid rgb(243, 243, 243) 40px;
}


.floating_button{
    text-align: center;        
    width: 70px;
    height: 7z0px;
    float: left;
    border: 1px solid black;      
}

#footer {
    position:fixed;
    right: 40px;
    bottom: 40px;
}
