html, body {
    height: 100%;
    width: 100%;
    border-left: 0px;
    margin: 0;
}

.container{
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom: solid rgb(243, 243, 243) 40px;
    display: flex;
    align-items: center;
}

.content {
    height: 80%;
    width: 80%;
    margin: 10%;
    background-color: white;
}

.floating_button{
    text-align: center;        
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid black;  
    display: flex;    
    align-items: center;
}

#footer {
    position:fixed;
    right: 40px;
    bottom: 40px;
}
